{# templates/category/new.html.twig #}

{% extends "base.html.twig" %}

{% block body %}
<h2> Ajouter une nouvelle categorie </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit"> Ajouter une categorie</button>
    {{ form_end(form) }}
{% endblock %}