{% extends "base.html.twig" %}

{% block body %}
<h2> Ajouter une nouvelle serie </h2>
 <div class="form-group" class="form-control form-control-lg">
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
      <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <button type="submit" class="btn btn-primary">Ajouter une série </button>
    {{ form_end(form) }}
</div>
{% endblock %}