<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New program</title>

    <style>
        body {
        background-color: #f15025ff;
    }

    }
    img {
        height: 300px;
        width: auto;
        object-fit: cover;
        display: flex;
    }

    </style>
</head>
<body>
{% block body %} {% endblock %}
</body>
</html>